@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    background: #002339;
    color: #fff;


}

.container{
    margin: 12%;
    width: 90%;
    max-width: 680px;
    padding-right: 80px;
}

.container:not(.text-alert){
    font-family: 'Poppins', sans-serif;
}



.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;


}

.display img{
    width: 70px;
    cursor: pointer;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    text-shadow: 1px 1px 5px #000;
    padding-bottom: 7px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    flex: .95;
}

.container button img{
    width: 32px;
    height: auto;
    margin-right: 10px;

}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 28px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 2px 1px 7px #0000006b;

}

.alert{
    min-width: 495px;
    max-width: 90%;
    padding: 18px;
    background: #019f55;
    text-align: center;
    border-radius: 7px;
    box-shadow: -1px -2px 5px #000;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 2.4s ease-out;
    font-size: 30px;

}

.text-alert{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-shadow: 5px 2px 5px #000;
    letter-spacing: .3rem;
}

.rangeValue{
    font-size: 32px;
    color: rebeccapurple;
}